<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<h1>Create reviews</h1>
<form action="#" th:action="@{/products/createProduct}" th:object="${product}" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:object="${name}" ><br><br>

    <label for="description">Description:</label>
    <textarea type="text" id="description" name="description" th:object="${description}"></textarea><br><br>

    <label for="articleNumber">Article Number:</label>
    <input type="text" id="articleNumber" name="articleNumber" th:object="${articleNumber}"><br><br>

    <label for="manufacturerId">Manufacturer ID:</label>
    <input type="text" id="manufacturerId" name="manufacturerId" th:object="${manufacturerId}"><br><br>

    <label for="forSale">For sale:</label>
    <input type="text" id="forSale" name="forSale" th:object="${forSale}"><br><br>

    <label for="price">Price:</label>
    <input type="text" id="price" name="price" th:object="${price}"><br><br>

    <label for="stock">Stock:</label>
    <input type="text" id="stock" name="stock" th:object="${stock}"><br><br>

    <label for="categoryId">Category ID:</label>
    <input type="text" id="categoryId" name="categoryId" th:object="${categoryId}"><br><br>

<!--    <a th:href="@{products}">-->
    <input method="POST" type="submit" th:value="#{form.submit}">
</form>

</body>
</html>